name: ETL Pipeline demo

on:
    push:
        branches:
        - main

jobs:
    test-job:
        runs-on: ubuntu-latest

        steps:

        - name: Checkout code
          uses: actions/checkout@v2

        - name: setup Python
          uses: actions/setup-python@v2
          with:
            python-version: '3.10'

        - name: Install dependencies
          run: pip install -r requirements.txt

        - name: Run test cases
          run: pytest --cov=cal --cov-report=term

    deploy-job:

        runs-on: ubuntu-latest
        needs: test-job
        
        steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: print message
          run: echo "All tests passed. Proceeding to deployment."
